<div class="grid-container">
    <h1 class="raid-title">{{ raid.en }}</h1>
    <div class="code-container">
        <app-raid-element
            *ngFor="let code of raidCodes"
            [element]="code"
        ></app-raid-element>  
    </div>
    <div class="copy" matRipple (click)="onCopyCode()">
        <h2 class="button-text">
            Copy latest
        </h2>
    </div>
    <div class="remove" matRipple (click)="onRemoved()">
        <h2 class="button-text">
            Remove
        </h2>
    </div>  
</div>
