.grid-container {
    background: #5C5C5C;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 68px;
    grid-template-areas:
      "time code";
    -webkit-box-shadow: 2px 7px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 20px 0px rgba(0,0,0,0.75);
}

h3 {
    margin-left: 30px;
    line-height: 60px;
    color:white;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.time {
    grid-area: time;
}

.code {
    grid-area: code;
}

.true {
    color: #5C5C5C;
    background: black;
}