li {
    font-size: medium;
    margin: 5px;
    list-style-type: none;
    display: inline-block;
}

.searchbar {
    width: 100%
}

li > button {
    border-style: solid;
    border-width: 1px;
}

.Earth {
    border-color: #b27636;
}

.Wind {
    border-color: #75d743;
}

.Water {
    border-color: #4e90d8;
}

.Fire {
    border-color: #b52208;
}

.None {
    border-color: white;
}

.Dark {
    border-color: #8e43ef;
}

.Light {
    border-color: #ddc239;
}